body{
  background-color: white;
  margin: 0;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
}
.Navbar{
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  border-bottom: 2px rgb(80, 80, 80);
  font-weight: 700;
  box-shadow: 10px 10px 40px rgb(148, 148, 150);
}
.Navbar ul{
 padding-left: 0;
  height: 80px;
  width: 35%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  color:rgb(41, 41, 41);
  margin: 0;
  
}
.Navbar li{
  height: 80%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px solid white;
  text-align: center;
  
}
li:hover{
  border-bottom: 5px solid rgb(252, 8, 232);
}
.inputBox{
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color:rgb(226, 226, 226);
  width: 35%;
  padding-left: 20px;
  border-radius: 20px;
}
.inputBox input{
  height: 90%;
  font-size:15px ;
  border: none;
  width:90%;
  margin-left: 20px;
  background-color: rgb(226, 226, 226);
}
.bag-page {
  height: 80vh;
  border-top: 2px solid rgb(209, 209, 209);
  
  display: flex;
  flex-direction: row;
  padding:0;
  
  background-color: #ffffff;
}
.bag-Summary{
  background-color: #efefef;
  text-align: left;
  width: 40%;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  padding: 60px 0;
  padding-left: 60px;
  color: #282c3f;
  font-size: 20px;
  line-height: 2;
  height: 100%;
}
.bag-items {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}
.bag-items-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 20px;
  width: 60%;
  padding: 60px 30px;
  color: #282c3f;
  font-size: 13px;
  line-height: 2;
}
.bag-item-container {
  height: 12vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  background: #fff;
  font-size: 20px;
  border: 1px solid #eaeaec;
  border-radius: 20px;
  justify-content:left;
  padding: 20px;
  gap: 20px;
  font-weight: bolder;
}


.item-right-part {
  padding: 0 12px;
  width: 45%;
  height: 13vh;
}

.bag-item-img {
  width: 10vw;
  height: 100%;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
}
.remove-from-cart {
  font-size: 25px;
  top: 0px;
  right: 10px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: relative;
}

.return-period {
  font-weight: bolder;
  font-size: 14px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}


.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount-percentage {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.item-container {
    margin: 10px;
    flex-basis: 20%;
    background-color: #edecec;
    border-radius: 20px;
    max-width: 100%;

}
.items-container {
    width: 95%;
    padding: 0 2.5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 100px;
    align-items: center;
}
.item-image {

  margin:10px 5% ;
  width:90%;
  height: 30vh;
 
}
.rating {
  font-size: 12px;
  font-weight: 700;
}

.card-container{
  width: 90%;
  margin: 10px 5%;
}
.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.bag-item-count {
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: 13px;
    top: -44px;
    font-weight: 700;
    cursor: pointer;
}
.company{
  font-size: 16px;
  margin-bottom: 10px;
}
.summary-head{
  margin: 0;
  font-weight: bolder;
  font-size: 32px;
  line-height: 1;
}
.summary-head-text{
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: #999999;
  line-height: 1.5;
  width: 60%;
}
.input-heading{
  font-weight: bolder;
  font-size: 18px;
}
.inputField{
  height: 40px;
  padding-left: 20px;
  border-radius: 5px;
  border: 2px solid grey;
  
}
.quantity{
  font-size: 15px;
  width:20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  column-gap: 20px;
}
.quantity h1{
  margin: 0;
}
.sign{
  border: 2px solid black;
  padding: 4px;
  border-radius: 100%;
}
.orderBtn{
  width: 80%;
  color: #eaeaec;
  font-size: 22px;
  border-radius: 20px;
  padding: 20px;
  background-color: #000000;
  border: none;
}

.loginForm,.registerForm{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a8a6a6;
}
.formContainer{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.formElement{
  display: flex;
  flex-direction: column;
}
.formElement h2 {
    margin-bottom: 20px;
    text-align: center;
  }

.formElement label {
    margin-bottom: 8px;
  }

.formElement input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

.formElement button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.formElement p {
    text-align: center;
    margin-top: 16px;
}
    .formElement a {
      color: #007bff;
    }
